.full-width-table {
  width: 80%;
  margin: 20px auto;
}

.mat-column-employeeId{
  max-width: 60px;
}
.mat-row:hover {
  background-color: gray;
}
.button-row{
  .mat-flat-button{
    margin: 5px;
  }
  margin:auto;
}

mat-row.highlight{
  background-color: red;
}
