.full-width-table {
  width: 80%;
  margin: 20px auto;
}

.mat-column-employeeId {
  max-width: 60px;
}

.button-row {
  .mat-flat-button {
    margin: 5px;
  }
  margin: auto;
}
.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #999;
}
