<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Employee Id</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Hire Date</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Job Id</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Salary</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Commission Ptc</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Manager Id</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Department Id</mat-label>
    <input matInput>
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="Add()">add</button>
</div>
