<div style="clear: both">

</div>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Id</th>
      <td mat-cell *matCellDef="let row">{{row.jobId}}</td>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
      <td mat-cell *matCellDef="let row">{{row.jobTitle}}</td>
    </ng-container>

    <ng-container matColumnDef="minSalary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Salary</th>
      <td mat-cell *matCellDef="let row"> {{row.minSalary}} </td>
    </ng-container>

    <ng-container matColumnDef="maxSalary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Max Salary</th>
      <td mat-cell *matCellDef="let row"> {{row.maxSalary}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
